.hero{
    width: 100vw;
    height: 80vh;
    background-color: rgb(158, 158, 89);
}
.herostyle{
    color: antiquewhite;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 8rem;
}
